/*
gallery css */

/*global
------------------------------*/
body{
  font: 13px arial;
  color: #A9A9A9;
}

a{
  text-decoration: none;
  color: #000;
}

p{
  margin: 0 0 10px;
  line-height: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: verdana;
  font-weight: bold;
  margin-bottom: 10px;
}

h1{
  font-size: 24px;
}

h2{
  font-size: 18px;
}

h3{
  font-size: 16px;
}

h4{
  font-size: 14px;
}

h5{
  font-size: 15px;
}

h6{
  font-size: 16px;
}

/*layout
------------------------------*/

.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

/*header
------------------------------*/

.header {
  background: #fff;
  height: 165px;
}

.header .container{
  display: flex;
  justify-content: space-between;
}

.header .header-logo {
  height: 165px;
  margin: 20px 0 0 20px;
}

.header img{
  height: 70%;
}

.header .search{
  position: relative;
  margin: 55px 20px 0 0;
}

.header .icon-search{
  position: absolute;
  top: 7px;
  right: 10px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  transition-property: transform;
  transition-duration: 0.3s;
}

.header .icon-search:hover,
.icon-search:focus,
.icon-search:active{
  transform: scale(1.5);
}

input[type="search"]{
  width: 100%;
  height: 36px;
  color: #808080;
  border: solid 1px #A9A9A9;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  outline: none;
  padding-left: 10px;
}

input[type="search"]::placeholder{
  color: #A9A9A9;
}

input[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance: none;
}

/*main
------------------------------*/

.main .container{
  display: flex;
  justify-content: space-around;
}

.main aside{
  width: 12%;
  margin-left: 20px;
}

.main aside a{
  display: inline-block;
  padding-left: 20px;
  vertical-align: middle;
  transition-property: transform;
  transition-duration: 0.3s;
}

.main aside a:hover,
a:focus,
a:active{
  transform: scale(1.2);
}

.main li.animal{
  padding-bottom: 8px;
}

.main li.animal1{
  color: #00ffdf;
}

.main li.animal2{
  color: #1fff03;
}

.main li.animal3{
  color: #dd00ff;
}

.main a.dog{
  color: #6330ff;
}

.main a.cat{
  color: #b5b600;
}

.main a.bird{
  color: #036edb;
}

/*card
------------------------------*/

.cardrow{
  display: flex;
  justify-content: space-between;
}

.card{
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 12px;
  transition-property: transform;
  transition-duration: 0.3s;
}

.card1{
  border: solid #00ffdf 2px;
}

.card2{
  border: solid #1fff03 2px;
}

.card3{
  border: solid #dd00ff 2px;
}

.card:hover,
.card:focus,
.card:active{
  transform: scale(1.2);
}

.card img{
  height: 114px;
}

.card .overtext{
  position: absolute;
  color: #fff;
  top: 0;
  left: 10px;
  font-size: 12px;
  visibility: hidden;
}

.card:hover .overtext,
.card:focus .overtext,
.card:active .overtext{
  visibility: visible;
}

.card .list-tags{
  display: flex;
  justify-content: flex-start;
  font-size: 10px;
  font-weight: bold;
}

.card .list-tags .tag1,
.card .list-tags .tag2,
.card .list-tags .tag3{
  padding: 2px 5px 2px 5px;
  margin-right: 5px;
  border-radius: 8px;
}

.card .list-tags .tag1{
  background-color: #00ffdf;
}

.card .list-tags .tag2{
  background-color: #1fff03;
}

.card .list-tags .tag3{
  background-color: #dd00ff;
}

/*pages
------------------------------*/

.navpages{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navpages li{
  display: inline-block;
  padding: 25px 5px 0 5px;
}

.navpages a{
  color: #808080;
  font-size: 16px;
}

.navpages .bigger a{
  font-size: 18px;
  font-weight: bold;
}

.navpages .currentpage a{
  color: #7d53ff;
  font-weight: bold;
}

.hoverpage,
.bigger{
  transition-property: transform;
  transition-duration: 0.3s;
}

.hoverpage:hover,
.hoverpage:focus,
.hoverpage:active,
.bigger:hover,
.bigger:focus,
.bigger:active{
  transform: scale(1.2);

}
.hoverpage:hover,
.hoverpage:focus,
.hoverpage:active{
  text-decoration: underline;
}

/*footer
------------------------------*/

.footer{
  padding: 20px;
}

.footer a{
  text-decoration: underline;
}

.footer .container{
  display: flex;
  justify-content: space-between;
}

.footer p{
  margin: 0;
}
