/*
main css */
body{
  font-size: 13px;
  font-family: arial;
  color: #cdcdcd;
}

a{
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.header {
  background: #f00;
  height: 50px;
}

.header .container{
  clear: both;
  overflow: hidden;
}

.header a{
  color: #fff;
}

.header .header-logo {
  float: left;
  margin: 19px 0 0 0;
}

.header .nav{
  float: right;
  margin-top: 19px;
}

.header .nav li{
  display: inline-block;
  margin: 0 0 0 30px;
}

.header .nav a:hover {
  text-decoration: underline;
}

.main .container{
  display: flex;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
}

.main aside{
  width: 20%;
  border-left: 1px solid #cdcdcd
}

.main aside a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #cdcdcd;
}

.main aside a:hover {
 background: #f00;
 color: #fff;
}

.main section{
  width: 80%;
  padding: 20px;
  border-left: 1px solid #cdcdcd;
}

.card{
  display: flex;
}

.card figure{
  width: 30%;
}

.card img{
  width: 100%;
}

.card div{
  padding: 15px;
}

.card figcaption{
  background: #cdcdcd;
  padding: 10px;
}

.card p{
  margin: 0 0 8px;
}

